<!-- Container for multiple cards -->
  <!-- Single Card -->
  <mat-card class="bg-white w-full h-[450px] flex flex-col rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
    <div class="flex justify-between p-4">
      <span *ngIf="product.isFeatured" class="bg-sky-500 bg-gradient-to-r from-sky-700 to-blue-500 text-white text-xs font-semibold px-2.5 py-1 rounded-full">Nổi bật</span>
      <span *ngIf="product.isOnDiscount" class=" bg-red-500 bg-gradient-to-r from-red-700 to-red-500 text-white text-xs font-semibold px-2.5 py-1 rounded-full">{{product.discountPercentage}}%</span>
    </div>
    <img mat-card-image [src]="imageUrl + product.thumbnail?.imageUrl" alt="{{product.name}}" class="w-full h-45 object-cover">
    <div class="flex justify-end gap-1 px-4 py-2">
      <button mat-icon-button class="hover:bg-gray-100 rounded-full transition-colors" [routerLink]="[`detail/${product.id}`]">
        <mat-icon class="!text-gray-600 hover:!text-blue-600">visibility</mat-icon>
      </button>
      <button mat-icon-button class="hover:bg-gray-100 rounded-full transition-colors">
        <mat-icon class="!text-gray-600 hover:!text-red-600">favorite</mat-icon>
      </button>
      <button mat-icon-button class="hover:bg-gray-100 rounded-full transition-colors">
        <mat-icon class="!text-gray-600 hover:!text-green-600">compare_arrows</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <div class="text-xs text-gray-500 truncate">{{product.productCategoriesResDto.name}}</div>
      <div class="text-base font-semibold text-gray-800 line-clamp-2">{{product.name}}</div>
      <div class="flex items-center gap-2 mt-1">
        <s-rating [rating]="4"></s-rating>
        <span class="text-xs text-gray-600">{{product.averageRating}} ({{product.totalReviews}})</span>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-between items-center px-4 py-3 border-t border-gray-100">
      <div class="flex flex-col">
        <span class="text-lg font-bold text-gray-900">{{product.newPrice | currency: 'VND'}}</span>
        <span *ngIf="product.originalPrice" class="text-xs text-gray-500 line-through">{{product.originalPrice | currency: 'VND'}}</span>
      </div>
      <button mat-raised-button class="bg-blue-600 text-white px-4 py-1.5 rounded-md hover:bg-blue-700 transition-colors text-sm"><mat-icon>add</mat-icon>Thêm </button>
    </mat-card-actions>
  </mat-card>
  <!-- Repeat <mat-card> as needed for other products -->