<div class="container my-5">
  <div class="row">
    <div class="col-3">
      <app-filters (filtersChanged)="filterChanged($event)" [minPrice]="minPrice" [maxPrice]="maxPrice"></app-filters>
    </div>
    <div class="col-9">
      <app-sort-header (sortHeaderChanges)="sortFilterChanged($event)"></app-sort-header>
      <div *ngIf="(products$ | async)?.length === 0" class="text-center py-4">
        Không có sản phẩm nào tìm thấy.
      </div>
      <!-- <p>PageIndex: {{pageIndex}}</p>
      <p>Filters: {{filters|json}}</p>
      <p>Sort Filter: {{sortFilter|json}}</p> -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <app-product-card *ngFor="let p of products$ | async" [product]="p"></app-product-card>
      </div>
      <app-pagination [pageItems]="500" [pageSize]="5" [currentPage]="1" (pageChange)="display($event)">
      </app-pagination>
    </div>
  </div>
</div>
<!-- <h1>{{pageIndex}}</h1> -->