<div class="row align-items-center">
  <span class="products-found col-6">24 Products found</span>
  <div class="sort-dropdown col-6 row">
    <div class="col-6">
      <mat-form-field class="show-dropdown">
        <mat-label >Hiển thị</mat-label>
        <mat-select [(value)]="itemsToShow" (selectionChange)="itemsToShowChange($event)" >
          <mat-option *ngFor="let option of showOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field class="sort-dropdown">
          <mat-label >Sắp xếp theo</mat-label>
          <mat-select [(value)]="sortBy" (selectionChange)="sortByChange($event)" >
            <mat-option *ngFor="let option of sortOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </div>
</div>